{%- if localization.market.handle == 'gb' -%}
  <div class="shipping-message" style="margin-top: 20px; text-align: center;"></div>
{%- endif -%}

{% schema %}
  {
    "name": "Shipping upsell",
    "settings": []
  }
{% endschema %}